body {
	background-color: lightgreen;
	font-family: 'Source Code Pro', monospace;
}

h1 {
	text-align: center;
	padding-right: 80px;
  
}

table, th, td {
  border: 0px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 60%;
}

.quest {
	line-height: 1.6;
	font-size: 20px;
}

center {
	padding-right: 60px;
	
}
